<div [ngClass]="getTheme(adDetails?.type || '')">
  <div class="campaign-list" dir="rtl">
   
    <div class="error-message" *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </div>

    <div class="main-banner">
      <img [src]="getBannerImage()" alt="Main Banner" class="banner-image" />
      <div class="banner-text">
        <h1>{{ getBannerTitle() }}</h1>
        <p>{{ getBannerSubtitle() }}</p>
      </div>
    </div>
    <div class="main-title">{{ getMainTitle() }}</div>
    
    <div class="ad-details" *ngIf="adDetails && company">
      <h2>{{ adDetails.name }}</h2>
      <p>الشركة: {{ company.name }}</p>
      <p>من: {{ adDetails.start_date }} إلى: {{ adDetails.end_date }}</p>
      <p>السعر اليومي: {{ adDetails.amount_per_day }}</p>
    </div>
    <div class="rooms-title">{{ getRoomsTitle() }}</div>

    <div class="gallery" dir="rtl">
      
      <div class="error-message" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </div>

  
      <div *ngFor="let vendor of filteredVendors" class="gallery-card">
<img [src]="getVendorImage(vendor)" alt="Product image" class="img-fluid" />




        <h4 class="vendor-name">{{ vendor.name || 'اسم المنتج غير متوفر' }}</h4>

       <div class="social-buttons">
  <ng-container *ngFor="let type of socialTypes">
    <button
      *ngIf="shouldShow(type, vendor)"
      class="btn"
      (click)="handleSocialClick(vendor, type)"
    >
      <i [ngClass]="getIconClass(type)"></i>
    </button>
  </ng-container>

  <button class="btn details-btn" (click)="goToDetails(vendor.id, vendor.type)">
    <i class="fas fa-info-circle"></i> 
  </button>
</div>

      </div>
    </div>

    <div class="footer-section">
      <div class="footer-container">
        <img [src]="getFooterImage()" alt="Customer Support" class="footer-image" />
        <div class="footer-contact-text">
          <a href="tel:0096567772030" class="footer-phone">0096567772030</a>
          <p class="footer-dark-text">
            <img src="assets/customer-support.png" alt="Call Icon" class="call-icon">
            تواصل معنا<br>بخدمتكم على مدار الساعة
          </p>
        </div>
      </div>
      <h3 class="footer_title">{{ getFooterTitle() }}</h3>
      <div class="footer-social">
        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </div>
      <div class="copy_right"><p>© 2025 جميع الحقوق محفوظة</p></div>
    </div>
  </div>
</div>